.App{
  border: 2px solid black;
  margin: 10% ;
  padding: 50px;
}
.todo{
  display: flex;
  flex-direction: column;
}
.todo ul li {
  width: 100%;
  overflow-wrap: break-word;
  list-style-type: "👉 ";
  cursor: pointer;
}
.done{
  text-decoration: line-through;
}
.text{
  display: flex;
  align-items: center;
  
}
.text span{
  color: red;
  border: 2px solid red;
  padding: 0 5px;
  cursor: pointer;
}